{% extends 'MyAppCmsfonyFrontBundle::base.html.twig' %}

{% block title %}{% endblock %}
{% block smallTitle %}Blog{% endblock %}
{% block bigTitle %}Articles du blog{% endblock %}
{% block content %}

        <div class="inner_content">
            <div class="pad30"></div>

            <div class="row">

                <div class="span9 pad15">
                    <div class="row">
                        {% for currentPost in posts %}
                            <!--post-->  

                            <!--date-->
                            <div class="span1">	
                                <div class="btn btn-medium btn-rounded btn-blog1"> {{ currentPost.date|date('d')  }} {{ currentPost.date|date('M')|upper  }} 
                                    <i class="fa fa-comments fa-2x"></i> <a class="com_no" href="#">0</a></div>
                            </div>
                            <!--post entry-->




                            <div class="span8">

                                <h1 class="post_link"><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/post/{{ currentPost.id }}">{{ currentPost.title }} </a></h1>

                                <div class="post-meta muted">
                                    <ul>
                                        <li>Posté par <a href="#">{{ currentPost.author }}</a> </li>
                                        <!--<li>in <a href="#">web</a>, <a href="#">graphics</a> </li>
                                        <li>tags <a href="#">prints</a>, <a href="#">design</a> </li>-->
                                    </ul>
                                </div>



                                {% if currentPost.image != null %}    
                                    <img 
                                        src="{{ asset(currentPost.image.webPath) }}"
                                        alt="{{ currentPost.image.alt }}"
                                        /> 
                                {% endif %}

                                <p>{{ currentPost.content[:800]|striptags|trim|convert_encoding('UTF-8', 'HTML-ENTITIES') }}<a href="#">[&#8230;]</a></p>

                                <div class="read_more"><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/post/{{ currentPost.id }}">Lire la suite &rarr;</a></div>
                                <div class="pad10"></div>
                            </div><!--end post-->

                        {% endfor %}
                        <center>
                            <div class="pagination">
                                <ul>
                                    {{ knp_pagination_render(posts,'MyAppCmsfonyFrontBundle:Default:paginationTheme.html.twig') }}

                                </ul>
                            </div>
                        </center>
                    </div>
                </div>


                <!--sidebar-->
                <!--	<div class="sidebar span3">
                
                        <h3>About Us</h3>
                        <h5>Morbi blandit ultricies ultrices ivam us nec lectus sed orci voluptua oportere molestie.
                        Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tri tique facilisis venenatis risus, 
                        suspendisse ac nec et.</h5>
                        
                        <h3>Categories</h3>
                        <ul class="fa-ul">
                                <li><i class="fa-li fa fa-caret-right grey2"></i><a href="#">Design News</a></li>
                                <li><i class="fa-li fa fa-caret-right grey2"></i><a  href="#">Typography</a></li>
                                <li><i class="fa-li fa fa-caret-right grey2"></i><a  href="#">Premium Themes</a></li>
                                <li><i class="fa-li fa fa-caret-right grey2"></i><a  href="#">Photography</a></li>
                                <li><i class="fa-li fa fa-caret-right grey2"></i><a  href="#">Graphics</a></li>
                        </ul>
                        <div class="pad30"></div>
                        
                        
                        <input class="span3" type="text" placeholder="search">
                        <div class="pad10"></div>-->
<!--
                <h4>Articles populaires</h4>
                <ul class="media-list">
                    <li class="media">
                        <img class="pull-left img-rounded" src="{{ asset('front/img/small/pop_post1.jpg') }} " alt="" />
                        <div class="media-body">
                            <small class="muted">07/05/13</small><br>
                            <a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
                    </li>

                </ul>-->


            </div>
        </div>
<!--end-->



{% endblock %}
